                html,body{height:100%;}
                .wrap{min-height:69%}
                body{
			margin:0px;
			
		}

		input[type="text"],input[type="password"],input[type="email"]{
			font-size:12px;
			height:34px;
		}
                .navbar{margin-bottom:0px;}
		nav{
			min-height:30px;
		}

		nav li{
			list-style: none;
			vertical-align: top;
			display: inline-block;
			padding: 0 10px;
		}
                
                nav a{
			text-transform: capitalize;
		}
		
		section>section{
			
			text-align: center;
                        position: relative;
                        width:100.6%;
                        margin:0 0 10px -10px;
		}
                /*Section list of items*/
                .list{
                    width:1020px;
                    margin:0 auto;
                    background: transparent;
                }
		.marco{border:1px solid #eee; border-radius:1em;}
		.title{
			text-align: left; border-bottom: 1px solid rgb(219, 170, 0); width:1024px; margin:0 auto; margin-bottom:10px;
		}
                .title h1{padding: 0px 10px; border-radius: 1em 0 0 0; font-size: 24px; text-align: left; display: inline-block; height: 47px; margin-bottom: -10px; background:rgb(219, 170, 0); color: #C1FFBC;}
                .title img{margin-left: -4px; margin-top: -2px;}
		/* class */
		.oferta{
			background: none repeat scroll 0 0 white;
                        border-radius: 1em 1em 1em 1em;
                        box-shadow: 0 0 15px white;
                        height: auto;
                        margin: 0 auto;
                        padding: 20px;
                        position: relative;
                        text-align: justify;
                        top: 70px;
                        width: 1000px;
                        margin: -50px auto 0;
		}
		hgroup{
			margin:30px 30px;
		}
		.oferta img, .oferta div{display:inline-block; vertical-align:top;}
                .oferta img{width: 494px; height:320px;}
		.oferta div{margin-left: 10px;  width: 480px;}
		
		.oferta h1{font-size:22px; line-height:26px;}

		.item{background:white;  padding: 0 0 10px; width:300px; margin:5px; display:inline-block; vertical-align:top;}
                .carousel{margin: 20px 0;}
		.carousel .item,.carousel img{width:97% !important; height:auto !important;}
                .item h1{font-size:16px; line-height:18px;  height: 32px;}
		.item img{padding:0px; border:0px; border-radius:0px; height: 225px;}
                
                .item p{ font-size:12px; color:gray;}
		.item p, .item h1{margin:10px;}
		section>img{
			border:10px solid green;
			border-radius:1em;
		}

		footer{
			background: none repeat scroll 0 0 #1B1B1B;
			min-height:100px;
			color:white;
			padding:20px 100px;
		}
		footer h1{color:#dbaa00;}
                footer .row-fluid{text-align:center;}
                footer a{color:white; text-decoration:none;}
                footer a:hover{color:#dbaa00; text-decoration:none;}
                
                .caracteristicas{width:100% !important; margin-top:30px;}
                .caracteristicas div{border-right: 1px solid green; display: inline-block; padding-right: 7px; text-align: center; width: auto;
                }
                .caracteristicas h1{font-size:16px; font-weight: bold; margin:3px;}
                .caracteristicas p{font-size:14px; font-weight: bold; margin:3px; color:red;}
                
                /*Menu*/
                .menu ul, .menu li{list-style: none;margin:0px;padding:0px;}
                .menu a{color:white; text-decoration: none;}
                
                .menu{position:relative; margin-top:20px; width: 300px;}
                .menu li{margin:5px; display: inline-block; vertical-align: top;}
                .menu li:hover{background:rgba(0,0,0);}
                .menu li:hover ul{display:block;}
                .menu li ul{position:absolute; z-index: 1000; top:20px; left:0px; background:rgba(0,0,0,0.7); padding:10px; border: 1px dashed white; display:none;}
                
                thead td{font-weight:bold; border:1px solid black; padding:10px;}
                
                .btn-primary {
                    background-color: #dbaa00;
                    background-image: linear-gradient(to bottom, #dbaa00, #AA7900);
                    background-repeat: repeat-x;
                }
                .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{
                    background-color: #AA7900;
                }
                
                .dropdown:hover .dropdown-menu{display:block;}
                .dropdown-menu {top: 68%;}
                
                .typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}
