
body {
    padding-top: 40px;
    position: relative;
}
h3 code {
    font-size: 14px;
    font-weight: normal;
}
body > .navbar {
    font-size: 13px;
}
body > .navbar .brand {
    color: #000000;
    float: right;
    font-weight: bold;
    margin-left: 20px;
    padding-left: 0;
    padding-right: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
    transition: all 0.2s linear 0s;
}
body > .navbar .brand:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.4);
}
section {
    padding-top: 30px;
}
section > .page-header, section > .lead {
    color: #5A5A5A;
}
section > ul li {
    margin-bottom: 5px;
}
.bs-docs-separator {
    margin: 40px 0 39px;
}
hr.soften {
    background-image: -moz-linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    border: 0 none;
    height: 1px;
    margin: 70px 0;
}
.jumbotron {
    background: linear-gradient(45deg, #020031 0%, #6D3353 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    padding: 40px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}
.jumbotron p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
}
.jumbotron a {
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out 0s;
}
.jumbotron a:hover {
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}
.masthead .btn {
    border: 0 none;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 200;
    padding: 19px 24px;
    transition: none 0s ease 0s;
}
.masthead .btn:hover {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
}
.masthead .btn:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
}
.jumbotron .container {
    position: relative;
    z-index: 2;
}
.jumbotron:after {
    background: url("../img/bs-docs-masthead-pattern.png") repeat scroll center center rgba(0, 0, 0, 0);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all {
.jumbotron:after {
    background-size: 150px 150px;
}
}
.masthead {
    color: #FFFFFF;
    margin-bottom: 0;
    padding: 70px 0 80px;
}
.masthead h1 {
    font-size: 120px;
    letter-spacing: -2px;
    line-height: 1;
}
.masthead p {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
}
.masthead-links {
    list-style: none outside none;
    margin: 0;
}
.masthead-links li {
    color: rgba(255, 255, 255, 0.25);
    display: inline;
    padding: 0 10px;
}
.bs-docs-social {
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #FFFFFF;
    padding: 15px 0;
    text-align: center;
}
.bs-docs-social-buttons {
    list-style: none outside none;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}
.bs-docs-social-buttons li {
    display: inline-block;
    line-height: 1;
    padding: 5px 8px;
}
.subhead {
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
}
.subhead h1 {
    font-size: 60px;
}
.subhead p {
    margin-bottom: 20px;
}
.subhead .navbar {
    display: none;
}
.marketing {
    color: #5A5A5A;
    text-align: center;
}
.marketing h1 {
    font-size: 60px;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 1;
    margin: 60px 0 10px;
}
.marketing h2 {
    font-weight: 200;
    margin-bottom: 5px;
}
.marketing p {
    font-size: 16px;
    line-height: 1.5;
}
.marketing .marketing-byline {
    color: #999999;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 40px;
}
.marketing-img {
    display: block;
    margin: 0 auto 30px;
    max-height: 145px;
}
.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
}
.footer p {
    color: #777777;
    margin-bottom: 0;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}
.show-grid {
    margin-bottom: 20px;
    margin-top: 10px;
}
.show-grid [class*="span"] {
    background-color: #EEEEEE;
    border-radius: 3px;
    line-height: 40px;
    min-height: 40px;
    text-align: center;
}
.show-grid [class*="span"]:hover {
    background-color: #DDDDDD;
}
.show-grid .show-grid {
    margin-bottom: 0;
    margin-top: 0;
}
.show-grid .show-grid [class*="span"] {
    margin-top: 5px;
}
.show-grid [class*="span"] [class*="span"] {
    background-color: #CCCCCC;
}
.show-grid [class*="span"] [class*="span"] [class*="span"] {
    background-color: #999999;
}
.mini-layout {
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.mini-layout, .mini-layout .mini-layout-body, .mini-layout.fluid .mini-layout-sidebar {
    height: 300px;
}
.mini-layout {
    margin-bottom: 20px;
    padding: 9px;
}
.mini-layout div {
    border-radius: 3px;
}
.mini-layout .mini-layout-body {
    background-color: #DCEAF4;
    margin: 0 auto;
    width: 70%;
}
.mini-layout.fluid .mini-layout-sidebar, .mini-layout.fluid .mini-layout-header, .mini-layout.fluid .mini-layout-body {
    float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
    background-color: #BBD8E9;
    width: 20%;
}
.mini-layout.fluid .mini-layout-body {
    margin-left: 2.5%;
    width: 77.5%;
}
.download .page-header {
    margin-top: 36px;
}
.page-header .toggle-all {
    margin-top: 5px;
}
.download h3 {
    margin-bottom: 5px;
}
.download-builder input + h3, .download-builder .checkbox + h3 {
    margin-top: 9px;
}
.download-builder input[type="text"] {
    color: #DD1144;
    font-family: Menlo,Monaco,"Courier New",monospace;
    font-size: 12px;
    margin-bottom: 9px;
}
.download-builder input[type="text"]:focus {
    background-color: #FFFFFF;
}
.download .checkbox {
    background-color: #F9F9F9;
    border-radius: 3px;
    color: #555555;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
    padding: 6px 10px 6px 25px;
}
.download .checkbox:hover {
    background-color: #F5F5F5;
    color: #333333;
}
.download .checkbox small {
    color: #777777;
    font-size: 12px;
}
#variables label {
    margin-bottom: 0;
}
.download-btn {
    margin: 36px 0 108px;
}
#download p, #download h4 {
    color: #999999;
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
}
#download h4 {
    margin-bottom: 0;
}
#download p {
    margin-bottom: 18px;
}
.download-btn .btn {
    border-radius: 6px;
    display: block;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 27px;
    padding: 19px 24px;
    text-align: center;
    width: auto;
}
h2 + table, h3 + table, h4 + table, h2 + .row {
    margin-top: 5px;
}
.example-sites {
}
.example-sites img {
    margin: 0 auto;
    max-width: 100%;
}
.scrollspy-example {
    height: 200px;
    overflow: auto;
    position: relative;
}
.focused {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.docs-input-sizes select, .docs-input-sizes input[type="text"] {
    display: block;
    margin-bottom: 9px;
}
.the-icons {
    list-style: none outside none;
    margin-left: 0;
}
.the-icons li {
    float: left;
    line-height: 25px;
    width: 25%;
}
.the-icons i:hover {
    background-color: rgba(255, 0, 0, 0.25);
}
.bootstrap-examples h4 {
    margin: 10px 0 5px;
}
.bootstrap-examples p {
    font-size: 13px;
    line-height: 18px;
}
.bootstrap-examples .thumbnail {
    background-color: #FFFFFF;
    margin-bottom: 9px;
}
.bs-alert-old-docs {
    margin: 30px 0 0;
}
.bs-docs-example {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}
.bs-docs-example:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0;
    color: #9DA0A4;
    content: "Example";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.bs-docs-example + .prettyprint {
    margin-top: -20px;
    padding-top: 15px;
}
.bs-docs-example > p:last-child {
    margin-bottom: 0;
}
.bs-docs-example .table, .bs-docs-example .progress, .bs-docs-example .well, .bs-docs-example .alert, .bs-docs-example .hero-unit, .bs-docs-example .pagination, .bs-docs-example .navbar, .bs-docs-example > .nav, .bs-docs-example blockquote {
    margin-bottom: 5px;
}
.bs-docs-example .pagination {
    margin-top: 0;
}
.bs-navbar-top-example, .bs-navbar-bottom-example {
    height: 90px;
    overflow: hidden;
    padding: 0;
    z-index: 1;
}
.bs-navbar-top-example .navbar-fixed-top, .bs-navbar-bottom-example .navbar-fixed-bottom {
    margin-left: 0;
    margin-right: 0;
}
.bs-navbar-top-example {
    border-radius: 0 0 4px 4px;
}
.bs-navbar-top-example:after {
    border-radius: 0 4px;
    bottom: -1px;
    top: auto;
}
.bs-navbar-bottom-example {
    border-radius: 4px 4px 0 0;
}
.bs-navbar-bottom-example .navbar {
    margin-bottom: 0;
}
form.bs-docs-example {
    padding-bottom: 19px;
}
.bs-docs-example-images img {
    display: inline-block;
    margin: 10px;
}
.bs-docs-tooltip-examples {
    list-style: none outside none;
    margin: 0 0 10px;
    text-align: center;
}
.bs-docs-tooltip-examples li {
    display: inline;
    padding: 0 10px;
}
.bs-docs-example-popover {
    background-color: #F9F9F9;
    padding-bottom: 24px;
}
.bs-docs-example-popover .popover {
    display: block;
    float: left;
    margin: 20px;
    position: relative;
    width: 260px;
}
.bs-docs-example-submenus {
    min-height: 180px;
}
.bs-docs-example-submenus > .pull-left + .pull-left {
    margin-left: 20px;
}
.bs-docs-example-submenus .dropup > .dropdown-menu, .bs-docs-example-submenus .dropdown > .dropdown-menu {
    display: block;
    margin-bottom: 5px;
    position: static;
}
.responsive-utilities th small {
    color: #999999;
    display: block;
    font-weight: normal;
}
.responsive-utilities tbody th {
    font-weight: normal;
}
.responsive-utilities td {
    text-align: center;
}
.responsive-utilities td.is-visible {
    background-color: #DFF0D8 !important;
    color: #468847;
}
.responsive-utilities td.is-hidden {
    background-color: #F9F9F9 !important;
    color: #CCCCCC;
}
.responsive-utilities-test {
    list-style: none outside none;
    margin-left: 0;
    margin-top: 5px;
    overflow: hidden;
}
.responsive-utilities-test li {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #999999;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 43px;
    line-height: 43px;
    position: relative;
    text-align: center;
    width: 25%;
}
.responsive-utilities-test li + li {
    margin-left: 10px;
}
.responsive-utilities-test span {
    border-radius: 4px;
    bottom: -1px;
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
}
.responsive-utilities-test span {
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
    color: #468847;
}
.bs-docs-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: 228px;
}
.bs-docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #F5F5F5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: 0.5;
}
.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    bottom: 270px;
    position: absolute;
    top: auto;
}
.subhead h1, .subhead .lead {
    margin-right: 340px;
}
.carbonad {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;
    border: 0 none !important;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    font-size: 13px !important;
    height: auto !important;
    line-height: 16px !important;
    margin-top: 0 !important;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
}
.carbonad-img {
    margin: 0 !important;
}
.carbonad-text, .carbonad-tag, .carbonad-tag a {
    color: #FFFFFF !important;
}
.carbonad-text, .carbonad-tag {
    display: block !important;
    float: none !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    height: auto !important;
    margin-left: 145px !important;
    width: auto !important;
}
.carbonad-text {
    padding-top: 0 !important;
}
.carbonad-tag {
    text-align: left !important;
}
@media (min-width: 1200px) {
.bs-docs-container {
    max-width: 970px;
}
.bs-docs-sidenav {
    width: 258px;
}
.bs-docs-sidenav > li > a {
}
}
@media (max-width: 980px) {
body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.quick-links li {
    display: inline-block;
    margin: 5px;
}
.bs-docs-sidenav {
    margin-right: 0;
    margin-top: 30px;
    top: 0;
    width: 218px;
}
.subhead h1, .subhead .lead {
    margin-right: 0;
}
.carbonad {
    margin-top: 30px !important;
    position: static;
    width: auto !important;
}
}
@media (min-width: 768px) and (max-width: 979px) {
body {
    padding-top: 0;
}
.jumbotron {
    margin-top: -20px;
}
.bs-docs-sidenav {
    margin-top: 20px;
    width: 166px;
}
.bs-docs-sidenav.affix {
    top: 0;
}
}
@media (max-width: 767px) {
body {
    padding-top: 0;
}
.jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    padding: 40px 20px;
}
.masthead h1 {
    font-size: 90px;
}
.masthead p, .masthead .btn {
    font-size: 24px;
}
.marketing .span4 {
    margin-bottom: 40px;
}
.bs-docs-social {
    margin: 0 -20px;
}
.carbonad {
    border-radius: 0;
    margin: 40px -20px -40px !important;
    overflow: hidden;
    padding: 20px !important;
    position: static;
    width: auto !important;
}
.show-grid [class*="span"] {
    margin-bottom: 5px;
}
.bs-docs-sidenav {
    margin-bottom: 20px;
    width: auto;
}
.bs-docs-sidenav.affix {
    position: static;
    top: 0;
    width: auto;
}
.footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
.footer p {
    margin-bottom: 9px;
}
}
@media (max-width: 480px) {
body {
    padding-top: 0;
}
h2 small {
    display: block;
}
.jumbotron h1 {
    font-size: 45px;
}
.jumbotron p, .jumbotron .btn {
    font-size: 18px;
}
.jumbotron .btn {
    display: block;
    margin: 0 auto;
}
.subhead h1, .subhead p {
    text-align: center;
}
.marketing h1 {
    font-size: 30px;
}
.marketing-byline {
    font-size: 18px;
}
.example-sites {
    margin-left: 0;
}
.example-sites > li {
    display: block;
    float: none;
    margin: 0 auto 18px;
    max-width: 280px;
    text-align: center;
}
.example-sites .thumbnail > img {
    max-width: 270px;
}
table code {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.bs-docs-example-submenus > .pull-left {
    clear: both;
    float: none;
}
.bs-docs-example-submenus > .pull-left, .bs-docs-example-submenus > .pull-left + .pull-left {
    margin-left: 0;
}
.bs-docs-example-submenus p {
    margin-bottom: 0;
}
.bs-docs-example-submenus .dropup > .dropdown-menu, .bs-docs-example-submenus .dropdown > .dropdown-menu {
    float: none;
    margin-bottom: 10px;
    max-width: 180px;
}
.modal-example .modal {
    bottom: auto;
    left: auto;
    position: relative;
    right: auto;
    top: auto;
}
.footer {
    padding-bottom: 20px;
    padding-top: 20px;
}
}
